{% extends 'comunes/base2.html' %}
{% block contenido %}
    {{super()}}
    {%if current_user.is_authenticated %}
        <span style="font-color: #FFFFFF; font-size: 40pt; FONT-FAMILY: Helvetica;"></span>
        </p>
    {% endif %}
    <div style="padding-left: 300pt;">
        <img src="{{url_for('static',filename='img/LogoZarket.png')}}" alt="LogoZarket" width="400" height="300">
        <br>
        <label style="font-size: 20pt; color: #8095CE; white-space: nowrap; "><i>TE DAMOS LA BIENVENIDA</i></label>
    </div>
<br>
    <div class="form-group " style="padding-left: 320pt;">
        <label for="usuario" class="col-sm-2">Usuario:</label>
        <input class="" type="text" name="Usuario" id="usuario" placeholder="Usuario"  required>
        <br>
        <br>
        <label for="clave" class="col-sm-2">Contraseña:</label>
        <input type="password" name="Contraseña" id="clave" placeholder="Contraseña"  required>
    </div>
    <div style="padding-left: 370pt;">
        <input class="btn btn-default2" type="submit"  value="Iniciar sesión">
        </input>
    </div>
<br>
   <div style="padding-left: 220pt;">
        <label style="font-size: 15pt; color: #000000; white-space: nowrap; "><i><b>"Eficiencia, orden y creatividad para llegar a ser el número uno"</b></i></label>
    </div>
<br>
<div>
        <label style="font-size: 15pt; color: #D9D9D9; white-space: nowrap; padding-left: 340pt;">Zamora, Michoacán, México.</label>
    <br>
        <label style="font-size: 15pt; color: #D9D9D9; white-space: nowrap;  padding-left: 270pt;">Tel. 351-118-02-56 Email: ylica394@accitesz.com</label>
</div>
{% endblock %}